# Auto detect text files and perform LF normalization
* text=auto
static/* linguist-vendored
* linguist-vendored
*.html5 linguist-vendored=false
*.css3 linguist-vendored=false
*.bootstrap linguist-vendored=false
